<!DOCTYPE html>
<html >
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="modulepreload" as="script" crossorigin href="/admin/_nuxt/entry.f75a4e35.js"><link rel="preload" as="style" href="/admin/_nuxt/entry.4fb0b19a.css"><link rel="prefetch" as="script" crossorigin href="/admin/_nuxt/default.049e2cad.js"><link rel="prefetch" as="script" crossorigin href="/admin/_nuxt/error-component.288bb764.js"><link rel="stylesheet" href="/admin/_nuxt/entry.4fb0b19a.css"></head>
<body ><div id="__nuxt"></div><script>window.__NUXT__={serverRendered:false,config:{public:{API_BASE_URL:"http:\u002F\u002Flocalhost:8090"},app:{baseURL:"\u002Fadmin\u002F",buildAssetsDir:"\u002F_nuxt\u002F",cdnURL:""}},data:{},state:{}}</script><script type="module" src="/admin/_nuxt/entry.f75a4e35.js" crossorigin></script></body>
</html>